:host() {
  /* CSS variables */

  /* Colors */
  --aq-primary: #06fe86;
  --aq-secondary: #08fac8;
  --aq-desk-inactive: #b2f0f1;
  --aq-desk-active: #08fac8;
  --aq-accent: #ffb800;
  --aq-primary-background: #a9fce7;
  --aq-secondary-background: #fffbfb;
  --aq-tab-active: #fffbfb;
  --aq-tab-inactive: #ddd7d7;
  --aq-primary-text: #181818;
  --aq-secondary-text: #444444;
  --aq-header: #000000;
  --aq-border: #000000;
  --aq-border-BEB3FF: #beb3ff;
  --aq-button: #000000;
  --aq-button-text: #ffffff;
  --aq-button-hover: #ffb800;
  --aq-link: #000000;
  --aq-shadow: #000000;
  --aq-hightlight: #ffb800;

  /* Fonts */
  --aq-font: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--lwc-fontFamily);
}
