.aq-office {
  width: 1178px;
  height: 566px;
}

.two-seats-group-vertical {
  display: flex;
}

.four-seats-group-vertical {
  display: flex;
}

.table-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.table {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .table-layout,
  .group {
    grid-template-columns: 1fr;
  }
}

.seat {
  width: 42px;
  height: 80px;
  background-color: var(--aq-desk-inactive);
  border: 1px solid var(--aq-border-BEB3FF);
  /* hover: moisten the color */
  cursor: pointer;
}
