.tab-container {
  display: flex;
  color: var(--aq-primary-text);
  font-family: var(--aq-font);
}

.tab-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin: 0;
  width: 129px;
  height: 30px;
  border-radius: 5px 5px 0 0;
  background-color: var(--aq-secondary-background);
  font-size: 16px;
}

.tab-container div.active {
  background-color: var(--aq-tab-active);
}
.tab-container div.is-inactive {
  background-color: var(--aq-tab-inactive);
}
.tab-content-container {
  padding: 10px;

  background-color: var(--aq-secondary-background);
}
