.button-label {
  text-align: center;
  line-height: 49px;
  color: #fff;
  z-index: 1; /* Höheren z-Index setzen */
}

.button {
  width: 49px; /* Setze die Breite deines Buttons */
  height: 49px; /* Setze die Höhe deines Buttons */
  background-image: url(https://wise-panda-v2y8vs-dev-ed--c.trailblaze.vf.force.com/resource/1706101751000/calendar_icon);
  background-size: cover; /* Um das Hintergrundbild anzupassen */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff10f0; /* Farbe des Textes auf dem Button */
  font-size: 18px; /* Schriftgröße des Textes */
  cursor: pointer;
}
